#TFBOYS{
    text-align: center;
    font-size: 50px;
    color:rgba(255, 68, 0, 0.747)
}
.弹性盒子{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.弹性盒子2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.代表作{
    margin-left: 100px;
}
#图{
    margin-left: 100px;
    animation: 旋转 5s;
    animation-iteration-count: infinite;
}
.表情包{
    margin-left: 50px;
    margin-top: 25px;
}

.易烊千玺{
    color: red;
}
.王俊凯{
    color:rgb(18, 159, 214);
}
.王源{
    color: green;
}
.TF男孩的代表作{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:   black;
    animation: 旋转 5s;
    animation-iteration-count: infinite;
}
body{
    background-color: rgb(224, 183, 189);
    animation: 背景 2s;
    animation-iteration-count: infinite;
    padding: 20px 50px;
    text-align: center;
}
img {
    animation: 闪 0.5s;
    animation-iteration-count: infinite;
}
@keyframes 闪{
    0% {
        border: 5px solid rgba(187, 20, 34, 0.829);
    }
    100% {
        border: 5px solid rgb(33, 99, 175);
    }
}
@keyframes 背景{
    0% {
        background-color: rgb(153, 211, 166);
    }
    100% {
        background-color: rgb(223, 171, 179);
    }
}
@keyframes 旋转{
    0%{

    }
    25%{
        transform: rotate(10deg);
    }
    50%{
    }
    75%{
        transform: rotate(-10deg);
    }
}