.重庆{
    width: 180px;
    height: 120px;
    color: black;
    background-color:rgba(255, 0, 0, 0.925);
    margin: 50px;
    padding: 15x;
    border: 10px double black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.火锅{
    width: 300px;
    height: 200px;
    color:black;
    background-image: linear-gradient(22deg,rgb(192, 121, 233),rgb(104, 231, 225));
    
}

.容器{
    display: flex;
    justify-content: space-around;

}
.矩形{
    width: 300px;
    height: 150px;
    background-image: radial-gradient(25% 75%,rgb(122, 224, 207),rgb(108, 240, 119));
    border-radius: 10px;
}
.拉伸{
    width: 200px;
    height: 300px;
    margin: 20px;
    animation: 变形 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
@keyframes 变形{
    0%{

    }
    50%{
        transform: skewX(-15deg);
    }
    100%{
   
    }
}
.圆矩{
    width: 1000px;
    height: 280px;
    border-radius: 40px;
    background-image: linear-gradient(22deg,rgb(127, 212, 233),rgb(224, 243, 140));
    display: flex;
    align-items: center;
    justify-content: center;
}